<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银行管理系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Bank" class="bank" src="{{ url_for('static', filename='images/bank.png') }}">
        银行管理系统
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('bank') }}">银行</a></li>
            <li><a href="{{ url_for('department') }}">部门</a></li>
            <li><a href="{{ url_for('customer') }}">客户</a></li>
            <li><a href="{{ url_for('account') }}">账户</a></li>
            <li><a href="{{ url_for('loan') }}">贷款</a></li>
            <li><a href="{{ url_for('employee') }}">员工</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
</body>
</html>